@charset "UTF-8";
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    outline: none;
    box-shadow: none;
}

input {
    border-radius: 3px;
    padding-left: 10px;
}

/* 时间及时间区间选择控件 start*/

.tsa-datetime-container {
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-left: 38px;
}

.tsa-datetime-input {
    width: 300px;
}

.tsa-dropdown {
    display: none;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 30px;
    padding: 5px 10px;
    background: white;
    z-index: 1;
}
.tsa-dropdown-right{
    right:0px;
}
.tsa-dropdown-left{
    left:0px;
}
.tsa-datetime-footer{
    float:right;
}
.tsa-dropdown-show {
    display: inline-block;
    z-index: 1000;
    width:614px;
}

.flatpickr-weekdays span {
    font-weight: 500;
}

.flatpickr-calendar {
    border-radius: 0;
    font-size: 12px;
}

.flatpickr-prev-month {
    left: 5px;
}

.flatpickr-next-month {
    right: 5px;
}

.flatpickr-next-month,
.flatpickr-prev-month {
    top: 5px;
}

.flatpickr-current-month {
    font-size: 14px;
}

.flatpickr-current-month .cur_year {
    width: 50px;
}


/* 时间及时间区间选择控件 end*/
.tsa-input-label{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    position: absolute;
    height:30px;
    line-height: 30px;
    margin: 0 0 0 auto;
}

/* 时间范围li控件 start*/
.tsa-daysrange-container{
    float: left;
    width: 75px;
    height:200px;
}
/*.tsa-daysrange-container-left{
    float: left;
    height: 30px;
    line-height: 30px
}*/
.li-range{
    float: left;
    width:65px;
    font-size: 14px;
    color: #333;
    cursor:pointer;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: background,color 0.3s;

    margin-top: 15px;
}
.li-range:hover,.li-range-active{
    border-radius: 4px;
    border-color: #68b92e;
    background-color: #68b92e;
    color: #fff;
}
/* 时间范围li控件 end*/